* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.input-container {
  width: 20rem;
  padding: 1rem;
  height: 2rem;
}

.input-field {
  /* width: 100%; */
  padding: 0.5rem;
  border-radius: 4px;
}

.tasks {
  margin-top: 2rem;
  column-gap: 2rem;
}

#btn {
  padding: 0.5rem;
  border: none;
  align-items: center;
  appearance: none;
  background-color: #3eb2fd;
  background-image: linear-gradient(1deg, #4f58fd, #149bf3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 10px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.delete-btn {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#delete-btn:hover,
#delete-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

#delete-btn:active {
  opacity: 0.5;
}

.added-paragraph {
  color: #4f58fd;
}

.added-paragraph:hover {
  cursor: pointer;
}

#error-message {
  color: red;
  display: none;
}

.crossed-out {
  text-decoration: line-through;
  opacity: 0.5;
  cursor: pointer;
}

.crossed-out:hover {
  cursor: pointer;
}

#checkbox-done {
  margin-top: 2rem;
  padding: 1rem;
  height: 25px;
  width: 25px;
  background-color: #eee;
  display: none;
}
